*{
    font-family: Avenir, sans-serif;
    text-align: left;
    margin: 1px;
    padding: 2px;
    box-sizing: border-box;
   
    color:black;
  }
  body{
    background-image:url("internet.avif");
    background-size: cover;
    font-size: 15px;
    
  }


nav {
  width: 10%;
  padding-left: 15px;
  margin-left: 15px;
  float: right;
  font-style: italic;
  font-size: 16px;
  border:1px solid brown;
  background-color: antiquewhite;
  border-radius: 20px;
} 


.titre{
    font-size: 20px;
}

.souligne{
    text-decoration: underline brown;
    font-size: 17px;
    opacity: 0.7;
}

.cadre{
    border:1px solid brown;
    background-color: antiquewhite;
    border-radius: 20px;
}
  
  

  aside {
    width: 40%;
    padding-left: 15px;
    margin-left: 15px;
    float: right;
    font-style: italic;
    font-size: 17px; 
    border:1px solid brown;
    background-color: antiquewhite;
    border-radius: 20px;
  } 

  footer {
    float: left;
    border:1px solid brown;
    background-color: antiquewhite;
    border-radius: 20px;
  } 


  input[type=text] {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
   }

  div ul>li, tr>td{
    background-color: rgb(199, 144, 144);
    border-radius: 20px;

  }


.conteneur-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  
   
   
  }

  @media  (max-width:800px){
      .conteneur-grid{
        margin: 0px 0px;
        grid-template-columns: 4fr;

      
      }
      
  }

article>a:hover {
    background-image: url("moi2.jpg");
    display: block ;
    width:200px;
    height:200px;
}

div>a:hover {
  background-image: url("web.jpg");
  display: block ;
  width:200px;
  height:200px;
}

#myInput{
  width: 100%;
}
  
#myBtn{
  width: 100px;
  background-color: rgb(199, 144, 144);
  border-radius: 20px;
}
  
    
